body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  header nav ul li a img {
    height: 13px;
  }

  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/*=====Project start from here=====*/

.logo {
  width: 140px;
  height: 120px;
}

.logo__text {
  display: none;
}

.logo__text_replace {
  color: #EAAA7F;
  text-align: center;
  font-size: 16px;
}

@media (min-width: 425px) {
  .logo__text {
    display: inline;
  }
  .logo__text_replace {
    display: none;
  }
}

.nav__item {
  fill: #39add1;
}

a:hover .nav__item {
  fill: #111;
}

.nav,
.nav .nav__item {
  transition: all .5s linear;
}

/*=====Corgi=====*/

.corgi__pic {
  width: 170px;
  height: 170px;
  margin-bottom: 16px;
}

.face_white {
  fill: #FBFEFF;
}

.face_detail {
  fill: #2D3339;
}

/*Red*/
.corgi__red .ear {
  fill: #BA8058;
}

.corgi__red .face {
  fill: #BA8058;
}

.corgi__red .eyebrow {
  fill: #EAAA7F;
}

/*Fawn*/
.corgi__fawn .ear {
  fill: #EAAA7F;
}

.corgi__fawn .face {
  fill: #EAAA7F;
}

.corgi__fawn .eyebrow {
  fill: #F4C6A6;
}

/*Sable*/
.corgi__sable .ear {
  fill: #844B24;
}

.corgi__sable .face {
  fill: #844B24;
}

.corgi__sable .eyebrow {
  fill: #BA8058;
}

/*Black and tan*/
.corgi__blacktan .ear {
  fill: #BA8058;
}

.corgi__blacktan .face {
  fill: #52595F;
}

.corgi__blacktan .eyebrow {
  fill: #BA8058;
}

